@font-face {font-family: 'Museo-700';src: url('webfonts/21AFD7_0_0.eot');src: url('webfonts/21AFD7_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/21AFD7_0_0.woff') format('woff'),url('webfonts/21AFD7_0_0.ttf') format('truetype');}
@font-face {font-family: 'Museo-300';src: url('webfonts/21AFD7_1_0.eot');src: url('webfonts/21AFD7_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/21AFD7_1_0.woff') format('woff'),url('webfonts/21AFD7_1_0.ttf') format('truetype');}
@font-face {font-family: 'Museo-500';src: url('webfonts/21AFD7_2_0.eot');src: url('webfonts/21AFD7_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/21AFD7_2_0.woff') format('woff'),url('webfonts/21AFD7_2_0.ttf') format('truetype');}

html{font-family:HelveticaNeue,Arial,sans-serif;}
body{background:url('../img/light_bg.png');}
a{-webkit-transition:color 0.2s linear;-moz-transition:color 0.2s linear;transition:color 0.2s linear;}
h1{font-family:Museo-500;color:#ff002a;font-size:1.5em;margin-bottom:5px;font-weight: normal;}
h1 a{color:#ff002a;text-decoration:none;}
h1 a:hover{color:#000;}
h2{font-weight:bold;font-size:1.2em;margin-top:30px;margin-bottom:15px;color:#ff002a;}
hr{border:1px dashed #888;margin:30px 0;}
ul{font-size:1.1em;list-style-type:disc;list-style-position:inside;padding-left:15px;line-height:130%;}
a.tag{color:#aaa;text-decoration:none;display:inline-block;margin-right:7px;}
a.tag:hover{color:#000;}
::selection { background:#ff002a; color:#fff; text-shadow:0px 0px 0px #000000; filter:dropshadow(color=#000,offx=0,offy=0);}
::-moz-selection { background:#ff002a; color:#fff; text-shadow:0px 0px 0px #000000;}
::-webkit-selection { background:#ff002a; color:#fff; text-shadow:0px 0px 0px #000000;}
.round-thing{background:url('/img/round_thing.png');height:4px;margin-top:15px;}
#pagewrap{width:880px;margin:30px auto;}
article{width:640px; padding-right: 20px; display:inline-block;margin-top:10px;color:#2a2a2a;text-shadow:0px 1px 1px #ffffff;filter:dropshadow(color=#ffffff,offx=0,offy=1);}
article p{font-size:1.1em;margin:13px 0;line-height:130%;}
article p a{text-decoration:none;border-bottom:1px dotted #000;color:#000;}
article p a:hover{color: #ff002a;}
article div.spacer{height:2px;}
aside{width:212px; padding-left: 3px; display:inline-block;text-align:left;vertical-align:top;}
aside img{margin-top:-4px;margin-left:-14px;}
.photo{margin-top:-4px;width:163px;height:177px;background:url(../img/sprite.png) 0px -67px no-repeat;display:block;}
#navsuperwrap{background:url('../img/dark_stripes.png') repeat;overflow-y:visible; min-width: 880px;}
#navwrap{width:840px;margin:0px auto;padding: 0 20px;}
nav{float:right;margin-top:34px; display: inline-block;}
nav a{font-family:Museo-300;color:#989898;font-size:1.5em;text-decoration:none;color:#989898;}
nav a.current{color:#fbecda;}
nav a:hover{color:white;}
.logo{background:url(../img/sprite.png) 0px 0px no-repeat;display:inline-block;width:259px;height:65px;margin-top:15px;}

.postdate{color:#777;}
a.twitterfollow{font-family:Museo-500;text-decoration:none;color:white;background:url(../img/sprite.png) -261px -43px no-repeat;display:block;width:149px;height:36px;line-height:36px;margin:10px 15px;text-shadow:0px -1px 1px #000000;filter:dropshadow(color=#000,offx=0,offy=-1); text-align: center;}
a.twitterfollow:active{background:url(../img/sprite.png) -261px 0px no-repeat;}

/* Syntax highlighting w/ Pygments:*/
.highlight{font-family:Monaco,monospace;background-color:#272822;border:1px solid #000000;padding:10px;font-size:1.3em;margin:10px 0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;text-shadow:none;filter:dropshadow(color=#fff,offx=0,offy=0);line-height:110%;}
.hll{background-color:#49483e}
.c{color:#75715e}
/* Comment */
.err{color:#960050;background-color:#1e0010}
/* Error */
.k{color:#66d9ef}
/* Keyword */
.l{color:#ae81ff}
/* Literal */
.n{color:#f8f8f2}
/* Name */
.o{color:#f92672}
/* Operator */
.p{color:#f8f8f2}
/* Punctuation */
.cm{color:#75715e}
/* Comment.Multiline */
.cp{color:#75715e}
/* Comment.Preproc */
.c1{color:#75715e}
/* Comment.Single */
.cs{color:#75715e}
/* Comment.Special */
.ge{font-style:italic}
/* Generic.Emph */
.gs{font-weight:bold}
/* Generic.Strong */
.kc{color:#66d9ef}
/* Keyword.Constant */
.kd{color:#66d9ef}
/* Keyword.Declaration */
.kn{color:#f92672}
/* Keyword.Namespace */
.kp{color:#66d9ef}
/* Keyword.Pseudo */
.kr{color:#66d9ef}
/* Keyword.Reserved */
.kt{color:#66d9ef}
/* Keyword.Type */
.ld{color:#e6db74}
/* Literal.Date */
.m{color:#ae81ff}
/* Literal.Number */
.s{color:#e6db74}
/* Literal.String */
.na{color:#a6e22e}
/* Name.Attribute */
.nb{color:#f8f8f2}
/* Name.Builtin */
.nc{color:#a6e22e}
/* Name.Class */
.no{color:#66d9ef}
/* Name.Constant */
.nd{color:#a6e22e}
/* Name.Decorator */
.ni{color:#f8f8f2}
/* Name.Entity */
.ne{color:#a6e22e}
/* Name.Exception */
.nf{color:#a6e22e}
/* Name.Function */
.nl{color:#f8f8f2}
/* Name.Label */
.nn{color:#f8f8f2}
/* Name.Namespace */
.nx{color:#a6e22e}
/* Name.Other */
.py{color:#f8f8f2}
/* Name.Property */
.nt{color:#f92672}
/* Name.Tag */
.nv{color:#f8f8f2}
/* Name.Variable */
.ow{color:#f92672}
/* Operator.Word */
.w{color:#f8f8f2}
/* Text.Whitespace */
.mf{color:#ae81ff}
/* Literal.Number.Float */
.mh{color:#ae81ff}
/* Literal.Number.Hex */
.mi{color:#ae81ff}
/* Literal.Number.Integer */
.mo{color:#ae81ff}
/* Literal.Number.Oct */
.sb{color:#e6db74}
/* Literal.String.Backtick */
.sc{color:#e6db74}
/* Literal.String.Char */
.sd{color:#e6db74}
/* Literal.String.Doc */
.s2{color:#e6db74}
/* Literal.String.Double */
.se{color:#ae81ff}
/* Literal.String.Escape */
.sh{color:#e6db74}
/* Literal.String.Heredoc */
.si{color:#e6db74}
/* Literal.String.Interpol */
.sx{color:#e6db74}
/* Literal.String.Other */
.sr{color:#e6db74}
/* Literal.String.Regex */
.s1{color:#e6db74}
/* Literal.String.Single */
.ss{color:#e6db74}
/* Literal.String.Symbol */
.bp{color:#f8f8f2}
/* Name.Builtin.Pseudo */
.vc{color:#f8f8f2}
/* Name.Variable.Class */
.vg{color:#f8f8f2}
/* Name.Variable.Global */
.vi{color:#f8f8f2}
/* Name.Variable.Instance */
.il{color:#ae81ff}
/* Literal.Number.Integer.Long */