<div id="navsuperwrap">
	<div id="navwrap">
		<a href="/" class="logo"></a>		
		<nav style="display: inline-block;">
			<ul>
				{% for link in site.navigation %}
				  {% assign current = nil %}
				  {% if page.url == link.url or page.layout == link.layout %}
			        {% assign current = 'current' %}
			      {% endif %}
				<li style="display: inline-block; {% if forloop.first == false %}margin-left: 30px;{% endif %}"><a href="{{ link.url }}" class="{{ current }}">{{ link.text }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>

	<div class="round-thing"></div>
</div>