.button {
  background: url(sprite.png) -264px 0px no-repeat;
  display: block;
  width: 146px;
  height: 41px;
}

.button_pressed {
  background: url(sprite.png) -264px -52px no-repeat;
  display: block;
  width: 146px;
  height: 41px;
}

.logo {
  background: url(sprite.png) 0px 0px no-repeat;
  display: block;
  width: 259px;
  height: 65px;
}

.photo {
  background: url(sprite.png) 0px -67px no-repeat;
  display: block;
  width: 163px;
  height: 177px;
}